@charset "UTF-8";

.reg{
    height: 600px;
    width: 400px;
    padding: 10px;
    justify-content:center;
    align-items:center;
    
}
span{
    
    border-radius: 20%;
    
}
.h{
    margin-left: 80px;
    color: rgb(37, 1, 1);
    text-shadow: 0 0 3px;
    
}
.box{
    height: 20px;
    width: 290px;
    background-color:indianred;
    
    

}
.sub{
    height: 40px;
    width: 100px;
    background-color:indianred;    

}
body{
    background-image: url(../images/update.jpg);
    background-position: center;
    background-size: cover;
}