<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/bookreg.css">
</head>
<body>
	<div class="reg">    
      <h1 class="h"><span>Book register</span></h1>

	  <form action="/send" method="post">

      <h3><b><span>Book Name</span></b></h3>
      <input   class="box" type="text" name="name"><br>
      
      <h3><b><span>Book Author</span></b></h3>
      <input class="box" type="text" name="author"><br>

      <h3><b><span>Language</span></b></h3>
      <input class="box" type="text" name="language"><br>

      <h3><b><span>Pages</span></b></h3>
      <input class="box" type="number" name="pages"><br>

      <h3><b><span>Price</span></b></h3>
      <input class="box" type="number" name="price" ><br><br>

      <input class="sub" type="submit" value="Add">
     </form>
     </div>

</body>
</html>