<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/homr.css">
<style>

      
</style>
 </head>
<body>
	<div class="main">
        <div class="reg">
            <a href="reg" ><h1>New Book Register</h1></a>
        </div>
        <div class="avail">
            <a href="booklist"><h1>Available Books</h1></a>
        </div>
        <div class="upd">
             <a href="bookedit"><h1>Update Books</h1></a>
        </div>
        <div class="det">
             <a href="delet"><h1>Delet Books</h1></a>
        </div>

    </div>

</body>
</html>